<!-- Toolbar -->
<div class="toolbar" role="banner">
   <a routerLink="/login">
    <img
    width="200"
    alt="Bank Logo"
    src="https://upload.wikimedia.org/wikipedia/he/thumb/5/51/%D7%94%D7%91%D7%A0%D7%A7_%D7%94%D7%91%D7%99%D7%A0%D7%9C%D7%90%D7%95%D7%9E%D7%99.svg/1199px-%D7%94%D7%91%D7%A0%D7%A7_%D7%94%D7%91%D7%99%D7%A0%D7%9C%D7%90%D7%95%D7%9E%D7%99.svg.png?20220608172904"
  />
   </a>
  
    <span>Welcome to our page!</span>
      <div class="spacer"></div>
  
      <ul>
        <li> <a routerLink="/login" title="login">Login</a></li>
        <li> <a routerLink="/registration"  title="registration">Registration</a></li>
      </ul>
  
  </div>
  
  <!-- body -->
  <div class="content" role="main">
  
    
    <router-outlet></router-outlet>
  
  
    <!-- Footer -->
    <footer>
        Arina Leyzer&nbsp;
        <a href="https://arina4325.github.io/" target="_blank" rel="noopener"> To my visit-card click here</a>
    </footer>
    
  </div>
  
